body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 25px;
}


/*BARRA DE NAVEGAÇÂO--------------------*/
nav {
    background-color: rgb(36, 36, 36);
    color: white;
}

nav .menu-desktop .container{
    font-size: .875em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}    
 #menu-hamburger {
    display: none;
 }

 @media (max-width: 700px) {
    #links { 
        display: none;
    }
    
    #menu-hamburger {
        display: block;
        padding: 20px;
        font-size: 40px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}

#links a {
    margin: 15px;
}

#logo h1 {
    font-size: 2.5em;
    color: white;
    font-weight: bold; 
    margin: 0;
}

a.button {
    padding: 10px 15px;
    border: 2px solid aqua;
    border-radius: 15px;
}

 /*FIM BARRA DE NAVEGAÇÂO--------------------*/

 /*HEADER -----------------------------------*/

header {
    background-color: black;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../img/cover-teste.png');
    mask-image: linear-gradient(to top, transparent 15%, black 80%);
    -webkit-mask-image: linear-gradient(to top, transparent 15%, black 80%);
}

header h2 {
    font-weight: bold; 
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

@media (max-width: 700px) {
    header {
        height: 400px;
        line-height: 1.2;
    }
    header h2 {
        padding: 0;
        font-size: 40px;
    }
}

 /*FIM HEADER  ------------------------------*/
#main {
    background:rgb(36, 36, 36);
    /*position: relative;
    bottom: 80px;*/
    margin-top: -80px;
    text-align: center;
    border-radius: 15px;
}

section h2 {
    padding: 0;
}

@media (max-width: 700px) {
    section {
        margin: 0 15px;
    }
}