:root{
    --primaryDarkColor: rgb(12, 31, 49);
    --primaryAsccentColor: aqua;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 25px;
}


/*BARRA DE NAVEGAÇÂO--------------------*/
nav {
    background-color: var(--primaryDarkColor);
    color: white;
}

nav .menu-desktop .container{
    font-size: .875em;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}    
 #menu-hamburger {
    display: none;
 }

 @media (max-width: 700px) {
    #links { 
        display: none;
    }
    
    #menu-hamburger {
        display: block;
        padding: 20px;
        font-size: 40px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
}

#links a {
    margin: 15px;
}

/*#logo h1 {
    font-size: 2.5em;
    color: white;
    font-weight: bold; 
    margin: 0;
}*/

.logo img {
    max-width:120px;
    width: auto;
}

a.button {
    padding: 10px 15px;
    border: 2px solid var(--primaryAsccentColor);
    border-radius: 15px;
}


 /*HEADER -----------------------------------*/
header {
    background-color: black;
    height: calc(100vh - 91px);
    background-size: cover;
    background-position: top;
    background-image: url('../img/cover-05.png');
    
}

header h2 {
    font-weight: bolder; 
    font-size: 40px;
    color: white;
    text-align: left;
    margin: 0;
    padding-top: calc(50vh - 91px);
    max-width: 500px;
    text-transform: uppercase;
}

header h2 span {
    font-size: 75px;
}

@media (max-width: 700px) {
    header {
        height: 400px;
        line-height: 1.2;
    }
    header h2 {
        font-size: 20px;
        padding-top: calc(30vh - 91px);
        max-width: 242px;
        margin: auto;
    }
    header h2 span {
        font-size: 37px;
    }
}

 /*Lboratório  ------------------------------*/
.main {
    background: var(--primaryDarkColor);
    /*position: relative;
    bottom: 80px;*/
    margin-top: -126px;
    text-align: center;
    border-radius: 15px;
    padding: 40px 60px;
}

.main h2 {
    font-size: 2em;
}

section h2 {
    padding: 0;
}

@media (max-width: 700px) {
    section {
        margin: 0 15px;
    }

    .main {
        padding: 5px 20px;
    }
}

/*valores  ------------------------------*/
.valores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 30px;

}

.valor {
    max-width:300px;
    width: auto;
}

.valor img {
    max-width:200px;
    width: auto;
    border-radius: 100%;
}


/*Footer  ------------------------------*/
footer {
    background-color: var(--primaryDarkColor);
    margin-top: 30px;
    

}

.address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.social {
    margin-top: 10px;
}

.social i {
    padding: 0 20px;
    font-size: 30px;
}

@media (max-width: 700px) {
    .social i {
        padding: 0 10px;
        font-size: 20px;
    }
}


